<ion-header>
  <ion-toolbar>
    <ion-title>fct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="airplane-outline" slot="start"></ion-icon>
      <ion-label>Esto es una prueba de tarjeta</ion-label>
      <ion-button fill="outline" slot="end">Ver</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="barbell-outline" slot="start"></ion-icon>
      <ion-label>Esto es una prueba de tarjeta</ion-label>
      <ion-button fill="outline" slot="end">Ver</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="briefcase-outline" slot="start"></ion-icon>
      <ion-label>Esto es una prueba de tarjeta</ion-label>
      <ion-button fill="outline" slot="end">Ver</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="apps-outline" slot="start"></ion-icon>
      <ion-label>Esto es una prueba de tarjeta</ion-label>
      <ion-button fill="outline" slot="end">Ver</ion-button>
    </ion-item>
  </ion-card>



  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="apps"></ion-icon>
    </ion-fab-button>

    <ion-icon name="apps"></ion-icon>
       <ion-fab-list side="end">
        <ion-fab-button><ion-icon name="briefcase"></ion-icon></ion-fab-button>
       </ion-fab-list>
  </ion-fab>

</ion-content>
