<ion-header>
  <ion-toolbar>
    <ion-title>modulos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="DAM1">
        <ion-icon name="folder-open-outline"></ion-icon>
        <ion-label>Programación</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="DAM2">
        <ion-icon name="laptop-outline"></ion-icon>
        <ion-label>Lenguaje de Marcas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="FCT">
        <ion-icon name="ribbon-outline"></ion-icon>
        <ion-label>FCT</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
